<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GameSpring Task</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for the homepage -->
    <link href="/stylesheets/blog-home.css" rel="stylesheet">

    <!-- Custom styles for post single -->
    <link href="/stylesheets/blog-post.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{>form-msgs}}

        {{{body}}}
    </div>
</body>

</html>