<div class="card card-register mx-auto mt-5">
    <div class="header-wrap">
        <a href="/admin/rooms" class="menu btn-primary">채팅방</a>
        <a href="/admin/users" class="menu btn-primary">전체유저</a>
        <a href="/friend/requests" class="menu btn-primary">친구</a>
        <a href="/admin/logout" class="menu btn-primary">로그아웃</a>
    </div>
    <div class="card-header">채팅방</div>
    <div class="card-body">
        {{#each allRooms}}
        <div class="card mb-2">
            <div class="card-body">
                <h4 class="cart-title">방 번호: {{id}}</h4>
                <p> 참여인원 수: {{users}}</p>
                <form action="/admin/chat" method="get">
                    <div class="kard-body">
                        <input type="hidden" name="roomId" value={{id}} />
                        <button type="submit" class="btn btn-info">입장</button>
                    </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

</div>